data/cathdb/mibig_cathdb.tsv filter=lfs diff=lfs merge=lfs -text
data/labels/extra_antifungal filter=lfs diff=lfs merge=lfs -text
data/metadata/final_fun_families.tsv filter=lfs diff=lfs merge=lfs -text
data/metadata/mibig_metadata.tsv filter=lfs diff=lfs merge=lfs -text
data/metadata/tcdb_families.tsv filter=lfs diff=lfs merge=lfs -text
data/pfam/gcf_pfams.tsv filter=lfs diff=lfs merge=lfs -text
data/labels/extra_antibiotics filter=lfs diff=lfs merge=lfs -text
data/pfam/antismash_pfam25.tsv filter=lfs diff=lfs merge=lfs -text
data/pfam/mibig_table.tsv filter=lfs diff=lfs merge=lfs -text
data/cathdb/antismash_cathdb.tsv filter=lfs diff=lfs merge=lfs -text
data/cathdb/gcfs_cathdb.tsv filter=lfs diff=lfs merge=lfs -text
data/labels/specific_antibiotics filter=lfs diff=lfs merge=lfs -text
data/metadata/data_mibig_fixed.tsv filter=lfs diff=lfs merge=lfs -text
data/labels/extra_siderophore filter=lfs diff=lfs merge=lfs -text
data/metadata/antismash_biosynthetic_matrix.tsv filter=lfs diff=lfs merge=lfs -text
data/metadata/antismash_metadata.tsv filter=lfs diff=lfs merge=lfs -text
data/metadata/just_structures.tsv filter=lfs diff=lfs merge=lfs -text
data/pfam/antismash_table.tsv filter=lfs diff=lfs merge=lfs -text
data/pfam/mibig_pfam25.tsv filter=lfs diff=lfs merge=lfs -text
data/**/* filter=lfs diff=lfs merge=lfs -text
